.App {
  text-align: center;
}

.cards-container {
  margin-right: 2.5%;
  margin-left: 2.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.experience-card {
  margin-left: -20px;
  margin-right: -20px;
  min-width: 20%;
  max-width: 40%;
  height: 375px
}

/* the following is to override something in semantic-ui. may need to tweak again if container/card styling changes */
.ui.card:first-child {
  margin-top: 14px;
}

.card-extra-div-left {
  width: 60%; float:left
}

.card-extra-div-right {
  width: 20%; float:right;
  padding: 8px 0;
}

/* .event-modal {
  width: 80%;
  height: 80%
} */

.event-modal-header {
  text-align: center
}

.event-list {
  max-height: 200px;
  overflow-x: scroll;
}

.event-modal-description {
  /* width: 100%; */
  flex-grow: 1;
}

.event-li-item {
  margin: 5px
}